src/main/resources/wsdl/PublishingService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
	targetNamespace="http://www.publishing.fi/skeemat/vahva/2018/06/08"
	xmlns:publishing="http://www.publishing.fi/skeemat/vahva/2018/06/08"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime"
	elementFormDefault="qualified">
	
	<xs:element name="PublishingRequestRequest"
		type="publishing:PublishingRequestRequest" />
	<xs:element name="PublishingPermissionRequest"
		type="publishing:PublishingPermissionRequest" />
	<xs:element name="CorrectionRequest"
		type="publishing:CorrectionRequest" />
	<xs:element name="TransmissionResponse"
		type="publishing:TransmissionResponse" />
	<xs:element name="FetchPublishedRequest"
		type="publishing:FetchPublishedRequest" />
	<xs:element name="FetchPublishedResponse"
		type="publishing:FetchPublishedResponse" />
		
	<xs:complexType name="PublishingRequestRequest">
		<xs:sequence>
			<xs:element name="publishingRequest"
				type="publishing:PublishingRequest" />
			<xs:element name="documents"
				type="publishing:PublishingRequestDocumentList" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishingPermissionRequest">
		<xs:sequence>
			<xs:element name="publishingPermisison"
				type="publishing:PublishingPermission" />
			<xs:element name="documents"
				type="publishing:PublishingPermissionDocumentList" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorrectionRequest">
		<xs:sequence>
			<xs:element name="correction"
				type="publishing:Correction" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FetchPublishedRequest">
		<xs:annotation>
			<xs:documentation xml:lang="fi">
				Julkaisuja voidaan hakea joko asian tunnisteella tai muutosaikaleimalla (jolloin palautetaan aikaleiman jälkeen valmistuneet julkaisut).
			</xs:documentation>
			<xs:documentation xml:lang="en">
				Published documents can be fetched with caseId or timestamp (in which case published stuff after the given timestamp will be returned)
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="caseId" type="xs:string" minOccurs="0"/>
			<xs:element name="previousTimestamp" type="xs:dateTime" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FetchPublishedResponse">
		<xs:sequence>
			<xs:element name="publishedDocuments" type="publishing:PublishedDocumentList"/>
			<xs:element name="transmissionResponse" type="publishing:TransmissionResponse"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishedDocumentList">
		<xs:sequence>
			<xs:element name="publishedDocument" type="publishing:PublishedDocument" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishedDocument">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" />
			<xs:element name="metadata" type="publishing:PublishedDocumentMetadata" />
			<xs:element name="contents" type="xs:base64Binary"
				xmime:expectedContentTypes="application/octet-stream" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishedDocumentMetadata">
		<xs:sequence>
			<xs:element name="caseId" type="xs:string"/>
			<xs:element name="documentId" type="xs:string"/>
			<xs:element name="deliveryType" type="publishing:DeliveryTypeCode"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishingPermission">
		<xs:sequence>
			<xs:element name="receiver" type="xs:string">
				<!-- Is this still needed? -->
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vakiotieto,
						"Julkaisija"</xs:documentation>
					<xs:documentation xml:lang="en">Constant,
						"Julkaisija" meaning publishing house</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sessionNumber" type="xs:string" />
			<xs:element name="sessionType"
				type="publishing:SessionTypeCode" />
			<xs:element name="sessionTime" type="xs:dateTime" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Correction">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" />
			<xs:element name="metadata"
				type="publishing:CorrectionDocumentMetadata" />
			<xs:element name="contents" type="xs:base64Binary"
				xmime:expectedContentTypes="application/octet-stream" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CorrectionDocumentMetadata">
		<xs:sequence>
			<xs:element name="caseId" type="xs:string" />
			<xs:element name="caseTitle" type="xs:string" />
			<xs:element name="parliamentId" type="xs:string" />
			<xs:element name="coverLetter" type="xs:string">
				<!--  Is this still needed? -->
				<xs:annotation>
					<xs:documentation xml:lang="fi">Vakioteksti "Korjattu asiakirja"
					</xs:documentation>
					<xs:documentation xml:lang="en">Constant "Korjattu asiakirja", meaning corrected document
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="documentTitle" type="xs:string" />
			<xs:element name="documentId" type="xs:string" />
			<!-- Should document type be enumerated? -->
			<xs:element name="documentType" type="xs:string" />
			<xs:element name="lang" type="publishing:LanguageCode" />
			<xs:element name="version" type="xs:string" />
			<xs:element name="requester"
				type="publishing:ContactInfo" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DeliveryTypeCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Layout">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituksessa mukana taitettu lopputulos</xs:documentation>
					<xs:documentation xml:lang="en">Delivery contains laid out document</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Layout and draft">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Toimituksessa mukana sekä taitettu lopputulos että vedos</xs:documentation>
					<xs:documentation xml:lang="en">Delivery contains both laid out document and draft</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="SessionTypeCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="RV">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Raha-asiain valiokunnan
						istunto</xs:documentation>
					<xs:documentation xml:lang="en">Budgetary session</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="VN">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Valtioneuvoston
						yleisistunto</xs:documentation>
					<xs:documentation xml:lang="en">Government plenary session</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TP">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Tasavallan presidentin
						esittely</xs:documentation>
					<xs:documentation xml:lang="en">Presidential session</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType
		name="PublishingRequestDocumentList">
		<xs:sequence>
			<xs:element name="document"
				type="publishing:PublishingRequestDocument" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishingRequestDocument">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" />
			<xs:element name="metadata"
				type="publishing:PublishingRequestDocumentMetadata" />
			<xs:element name="contents" type="xs:base64Binary"
				xmime:expectedContentTypes="application/octet-stream"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType
		name="PublishingRequestDocumentMetadata">
		<xs:sequence>
			<xs:element name="caseId" type="xs:string" />
			<xs:element name="parliamentId" type="xs:string" />
			<xs:element name="caseTitle" type="xs:string" />
			<xs:element name="ministry" type="xs:string" />
			<xs:element name="presenter"
				type="publishing:ContactInfo" />
			<xs:element name="documentName" type="xs:string" />
			<xs:element name="documentId" type="xs:string" />
			<xs:element name="documentType" type="xs:string" />
			<xs:element name="documentState"
				type="publishing:DocumentStateCode" />
			<xs:element name="lang" type="publishing:LanguageCode" />
			<xs:element name="version" type="xs:string" />
			<xs:element name="requester"
				type="publishing:ContactInfo" minOccurs="0" maxOccurs="1" />
			<xs:element name="format"
				type="publishing:FormatCode" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishingPermissionDocumentList">
		<xs:sequence>
			<xs:element name="document"
				type="publishing:PublishingPermissionDocument" minOccurs="0"
				maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishingPermissionDocument">
		<xs:sequence>
			<xs:element name="fileName" type="xs:string" />
			<xs:element name="metadata"
				type="publishing:PublishingPermissionDocumentMetadata" />
			<xs:element name="contents" type="xs:base64Binary"
				xmime:expectedContentTypes="application/octet-stream"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType
		name="PublishingPermissionDocumentMetadata">
		<xs:sequence>
			<xs:element name="caseId" type="xs:string" />
			<xs:element name="decision"
				type="publishing:PermissionTypeCode" />
			<xs:element name="parliamentId" type="xs:string" />
			<xs:element name="documentTitle" type="xs:string" />
			<xs:element name="documentId" type="xs:string" />
			<xs:element name="documentType" type="xs:string" />
			<xs:element name="ministry" type="xs:string" />
			<xs:element name="documentState"
				type="publishing:DocumentStateCode" />
			<xs:element name="lang" type="publishing:LanguageCode" />
			<xs:element name="version" type="xs:string" />
			<xs:element name="requester"
				type="publishing:ContactInfo" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PublishingRequest">
		<xs:sequence>
			<xs:element name="caseId" type="xs:string" />
			<xs:element name="caseTitle" type="xs:string" />
			<xs:element name="coverLetter" type="xs:string" minOccurs="0" />
			<xs:element name="requestType"
				type="publishing:RequestTypeCode" />
			<xs:element name="caseType" type="xs:string">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Asiatyypin nimi
					</xs:documentation>
					<xs:documentation xml:lang="en">Case type name
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="requester"
				type="publishing:ContactInfo" />
			<xs:element name="publishAtLatestDate" type="xs:date"
				minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jos kyseessä on
						säädöskokoelma, tarvitaan</xs:documentation>
					<xs:documentation xml:lang="fi">Needed if request type says "statuteCollection"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="euIdentifier" type="xs:string" minOccurs="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jos kyseessä on
						säädöskokoelma, tarvitaan</xs:documentation>
					<xs:documentation xml:lang="fi">Needed if request type says "statuteCollection"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="parliamentDocuments" type="xs:string"
				minOccurs="0">
				<!--  TODO: find out what this is ("ekAsiakirjat") -->
				<xs:annotation>
					<xs:documentation xml:lang="fi">Jos kyseessä on
						säädöskokoelma, tarvitaan</xs:documentation>
					<xs:documentation xml:lang="fi">Needed if request type says "statuteCollection"</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="series"
				type="publishing:SeriesCode" />
			<xs:element name="isPreliminary" type="xs:boolean"
				minOccurs="0" />
			<xs:element name="draftType"
				type="publishing:DraftTypeCode"/>
			<xs:element name="draftCount"
				type="xs:integer" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="PermissionTypeCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Publishing permission">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Julkaisulupa</xs:documentation>
					<xs:documentation xml:lang="en">Publishing permission</xs:documentation>
				</xs:annotation>		
			</xs:enumeration>
			<xs:enumeration value="Preliminary info">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ennakkotieto</xs:documentation>
					<xs:documentation xml:lang="en">Preliminary info</xs:documentation>
				</xs:annotation>		

			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="FormatCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="XML" />
			<xs:enumeration value="Original" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DocumentStateCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Being fixed"/>
			<xs:enumeration value="Final" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LanguageCode" final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fi" />
			<xs:enumeration value="sv" />
			<xs:enumeration value="" />
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DraftTypeCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Paper" />
			<xs:enumeration value="Laid out PDF" />
			<xs:enumeration value="None" />
			<xs:enumeration value="Other" />
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ContactInfo">
		<xs:sequence>
			<xs:element name="firstName" type="xs:string" />
			<xs:element name="lastName" type="xs:string" />
			<xs:element name="title" type="xs:string" />
			<xs:element name="phoneNumber" type="xs:string" />
			<xs:element name="email" type="xs:string" />
			<xs:element name="ministry" type="xs:string" />
			<xs:element name="organizationalUnit" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="SeriesCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Agreement series">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Julkaise Sopimussarjassa</xs:documentation>
					<xs:documentation xml:lang="en">Publish in agreement series</xs:documentation>
				</xs:annotation>
			</xs:enumeration>		
			<xs:enumeration value="Statute collection">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Julkaise säädöskokoelmassa</xs:documentation>
					<xs:documentation xml:lang="en">Publish in statute collection</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Both">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Julkaise molemmissa</xs:documentation>
					<xs:documentation xml:lang="en">Publish in both</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RequestTypeCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Parliament copies">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Eduskuntakappaleet</xs:documentation>
					<xs:documentation xml:lang="en">Parliament copies</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="To statute collection">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Säädöskokoelmaan</xs:documentation>
					<xs:documentation xml:lang="en">To statute collection</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Other">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Muun tyyppinen pyyntö</xs:documentation>
					<xs:documentation xml:lang="en">Other type of request</xs:documentation>
				</xs:annotation>

			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ResponseCode"
		final="restriction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="0">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittely onnistui, tapahtuma suoritettiin</xs:documentation>
					<xs:documentation xml:lang="en">Processing was successful, transaction was completed</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Käsittely epäonnistui, tapahtumaa ei suoritettu
					</xs:documentation>
					<xs:documentation xml:lang="fi">Processing failed, transaction was not processed
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2">
				<xs:annotation>
					<xs:documentation xml:lang="fi">Ongelma materiaalissa, esimerkiksi ei-validia XML-sisältöä. Transaktiota ei suoritettu.</xs:documentation>
					<xs:documentation xml:lang="en">Problem in received material, for example invalid XML documents. Transaction was not processed.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TransmissionResponse">
		<xs:sequence>
			<xs:element name="returnCode"
				type="publishing:ResponseCode" />
			<xs:element name="explanation" type="xs:string" />
			<xs:element name="message" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>
