src/main/resources/wsdl/VAHVA_publishing_20180608.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
	targetNamespace="http://www.publishing.fi/skeemat/vahva/2018/06/08" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:wsoap="http://schemas.xmlsoap.org/wsdl/soap12/" 
	xmlns:whttp="http://www.w3.org/ns/wsdl/http" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:publishing="http://www.publishing.fi/skeemat/vahva/2018/06/08"
	xmlns:xmime="http://www.w3.org/2005/05/xmlmime">
	
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
			<xs:import namespace="http://www.publishing.fi/skeemat/vahva/2018/06/08"
				schemaLocation="./PublishingService.xsd">
			</xs:import>
		</xs:schema>
	</wsdl:types>

	<wsdl:message name="PublishingRequestRequest">
		<wsdl:part element="publishing:PublishingRequestRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="PublishingPermissionRequest">
		<wsdl:part element="publishing:PublishingPermissionRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="CorrectionRequest">
		<wsdl:part element="publishing:CorrectionRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="TransmissionResponse">
		<wsdl:part element="publishing:TransmissionResponse" name="response" />
	</wsdl:message>
	<wsdl:message name="FetchPublishedRequest">
		<wsdl:part element="publishing:FetchPublishedRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="FetchPublishedResponse">
		<wsdl:part element="publishing:FetchPublishedResponse" name="response" />
	</wsdl:message>

	<wsdl:portType name="publishingPort">
		<wsdl:operation name="sendPublishingRequest">
			<wsdl:input message="publishing:PublishingRequestRequest"/>
			<wsdl:output message="publishing:TransmissionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="sendPublishingPermission">
			<wsdl:input message="publishing:PublishingPermissionRequest"/>
			<wsdl:output message="publishing:TransmissionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="sendCorrection">
			<wsdl:input message="publishing:CorrectionRequest"/>
			<wsdl:output message="publishing:TransmissionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="fetchPublished">
			<wsdl:input message="publishing:FetchPublishedRequest"/>
			<wsdl:output message="publishing:FetchPublishedResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="publishingBinding" type="publishing:publishingPort">
		<wsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="sendPublishingRequest">
			<wsoap:operation
				soapAction="http://www.publishing.fi/skeemat/vahva/2018/06/08/Publishing/sendPublishingRequest" />
			<wsdl:input>
				<wsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendPublishingPermission">
			<wsoap:operation
				soapAction="http://www.publishing.fi/skeemat/vahva/2018/06/08/Publishing/sendPublishingPermission" />
			<wsdl:input>
				<wsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendCorrection">
			<wsoap:operation
				soapAction="http://www.publishing.fi/skeemat/vahva/2018/06/08/Publishing/sendCorrection" />
			<wsdl:input>
				<wsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchPublished">
			<wsoap:operation
				soapAction="http://www.publishing.fi/skeemat/vahva/2018/06/08/Publishing/fetchPublished"/>
			<wsdl:input>
				<wsoap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<wsoap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="publishingService">
		<wsdl:port binding="publishing:publishingBinding" name="publishingPort">
			<wsoap:address
				location="http://localhost:8080/services/publishing" />
		</wsdl:port>
	</wsdl:service>
	
</wsdl:definitions>
